In [1]:
#Integers
x=10
type(x)

int

In [2]:
#Float
z=6.70
type(z)

float

In [3]:
#boolean
b1=True
b2=False
type(b2)

bool

In [4]:
#string
n= 'My name'
type(n)

str

In [5]:
#complex
x=10.1-22.2j
type(x)

complex

In [6]:
print(x)

(10.1-22.2j)

In [7]:
print(x.real,x.imag)

10.1 -22.2

In [8]:
#variables
putta=20
chinnu=23
print(putta)
chinnu

20

23

In [9]:
#Dynamic typing
pet=10
pet

10

In [10]:
pet='ten'
pet

'ten'

In [11]:
'fri' + 'day'

'friday'

In [12]:
'10' + str('Days')

'10Days'

In [13]:
#boolean Evaluation
True and True

True

In [14]:
True or False

True

In [15]:
not True

False

In [16]:
not False

True

In [17]:
True is True

True

In [18]:
True is False

False

In [19]:
False is False

True

In [20]:
't' is 't'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-20-6e7eff12cf19>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  't' is 't'

True

In [21]:
# Branching (if/elif/else)
i=3
if i<3:
    print('Less than 3')
elif i<10:
    print('less than 10')
else:
    print('10 or more')

less than 10

In [22]:
#List
l=[]
l

[]

In [23]:
l=list()
l

[]

In [24]:
l=['a','b','c']
l

['a', 'b', 'c']

In [25]:
l=['a',6]
l

['a', 6]

In [26]:
L2=list(l)
L2

['a', 6]

In [27]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [28]:
for i in l:
    print(i)

a
6

In [29]:
#append
l=[1,2]
l.append('n')
l.append('h')
l.insert(1,100)
l

[1, 100, 2, 'n', 'h']

In [30]:
#for loop
n=[1,2,3,4,5,6]
sum=0
for i in n:
    sum=sum+i
print("the sum is", sum)
sum

the sum is 21

21

In [31]:
#for loop with else
d= [1,2,3]
for h in d:
    print(h)
else:
    print('no')

1
2
3
no

In [32]:
#while loop
n=int(input("Enter n:"))
sum=0
z= 1
while z<=n:
    sum = sum+z
    z=z+1
print("The sum is", sum)

Enter n:10
The sum is 55

In [33]:
#range
print(range(40))

range(0, 40)

In [34]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [36]:
print(list(range(2,20,5)))

[2, 7, 12, 17]

In [37]:
#length
Animal= ['dog','cat','cow','lion']
for i in range(len(Animal)):
    print("I love", Animal[i])

I love dog
I love cat
I love cow
I love lion

In [38]:
#break
for g in 'pavan':
    if g== 'v':
        break
    print(g)
print("Frnd")

p
a
Frnd

In [39]:
#continue
for r in 'naresh':
    if r== 'r':
        continue
    print(r)
print("Enemy")

n
a
e
s
h
Enemy

In [40]:
#input string from user
Name=input("what is your name?\n")
type(Name)

what is your name?
arun

str

In [41]:
#read integers from user
Age=int(input("what is your age?"))
print('your age is:',Age)
type(Age)

what is your age?26
your age is: 26

int

In [42]:
#Example
Name= input("what is ur name?\n")
print("It was nice talking to you " + Name + "!")
age= input("Enter your age?\n")
print("Hey, You are already " + age + " years old," + Name + "!")

what is ur name?
Pavan
It was nice talking to you Pavan!
Enter your age?
27
Hey, You are already 27 years old,Pavan!