In [1]:
#Modules and Packages
#import the library
import math

In [2]:
#use it(Ceiling rounding)
math.ceil(4.6)

5

In [3]:
#Exploring built in modules
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [5]:
#writing modules
#example,this doesnot work becoz the file is not created
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [6]:
#OR could do it this way
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [7]:
_init_.py
_all_ = ["bar"]

NameError: name '_init_' is not defined

In [8]:
#Errors and Exception Handling
print('Hello)

SyntaxError: EOL while scanning string literal (<ipython-input-8-c1b5f5eb0c55>, line 2)

In [9]:
#try and Except
#Example

try:
    p=open('jerry','w')
    p.write('comedy')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   p.close()

Content written successfully

In [10]:
#what happens when we don't have write permission
try:
    p=open('jerry','r')
    p.write('comedy')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   p.close()

Error: Could not find file or read data

In [11]:
#using finally block
try:
    p=open('jerry','w')
    p.write('comedy show')
finally:
 print("Kids favorite show")

Kids favorite show

In [12]:
#Example
def ocean():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
        finally:
            print("Finally, I executed!")
        print(val)

In [14]:
ocean()

Please enter an integer: 123
Finally, I executed!
123

In [15]:
#check how we got an error when trying to print val
def ocean():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Please enter an integer again: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [16]:
ocean()

Please enter an integer: abs
Looks like you did not enter an integer!
Please enter an integer again: 78
Finally, I executed!
78

In [17]:
#using while loop to keep checking continously
def ocean():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('yes thats an integer')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [18]:
ocean()

Please enter an integer: astd
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: dfer
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: tb
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 467
yes thats an integer
Finally, I executed!

In [19]:
#Database connectivity and operations using python
#!/usn/bin/python

In [20]:
import sqlite3

#conecting with database
db = sqlite3.connect("student.db")
#Drop table if it already exist using execute() method.
db.execute("drop table if exists Marks1")
#create table as per requirements
db.execute("create table marks1(id int, name text, score int)")
#inserting values
db.execute("insert into marks1(id, name, score) values(20, 'nayana',23)")
db.execute("insert into marks1(id, name, score) values(10, 'jenni',95)")
db.execute("insert into marks1(id, name, score) values(32, 'tharu',35)")
db.execute("insert into marks1(id, name, score) values(34, 'vidhya',40)")
db.execute("insert into marks1(id, name, score) values(17, 'maha',80)")

In [21]:
db.commit()

In [22]:
results = db.execute("select * from marks1 order by id")
for row in results:
    print(row)
print("-" * 40 )

(10, 'jenni', 95)
(17, 'maha', 80)
(20, 'nayana', 23)
(32, 'tharu', 35)
(34, 'vidhya', 40)
----------------------------------------

In [23]:
results = db.execute("select * from marks1 where score>=35")
for row in results:
    print(row)
print("-" * 40 )

(10, 'jenni', 95)
(32, 'tharu', 35)
(34, 'vidhya', 40)
(17, 'maha', 80)
----------------------------------------

In [24]:
results = db.execute("select * from marks1 where name='jenni'")
for row in results:
    print(row)
print("-" * 40 )

(10, 'jenni', 95)
----------------------------------------

In [25]:
results = db.execute("select name,score from marks1 order by score desc")
for row in results:
    print(row)
print("-" * 40 )

('jenni', 95)
('maha', 80)
('vidhya', 40)
('tharu', 35)
('nayana', 23)
----------------------------------------

In [26]:
results = db.execute("select name,score from marks1 order by score")
for row in results:
    print(row)
print("-" * 40 )

('nayana', 23)
('tharu', 35)
('vidhya', 40)
('maha', 80)
('jenni', 95)
----------------------------------------